html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* GENERAL  */
body {
  font-family: monospace;
}

h1 {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

/* UTILITY */
.visually-hidden {
  position: absolute;
  left: 0;
  top: -5000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* SITEWIDE */
.wrapper {
  margin: 0 1rem;
}

/* CHIP */
.chip-container {
  border-bottom: 1px solid royalblue;
  margin: 2rem auto;
  max-width: 600px;
  padding-bottom: 0.7rem;
  display: flex;
  flex-flow: row wrap;
}

.chip-wrapper,
.input-wrapper {
  margin: 0.3rem;
}

.chip-wrapper {
  background-color: #e0e0e0;
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: relative;
}

.chip {
  display: inline-block;
  font-size: 1rem;
  margin: 0 1.5rem 0 0.4rem;
  vertical-align: center;
}

.close {
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  right: 12px;
  top: 50%;
  color: gray;
  transform: translateY(-50%);
}

.close:hover {
  color: black;
}

input {
  padding: 0.6rem;
  border: none;
  outline: none;
  font-size: 1.1rem;
  width: 150px;
}

input:focus {
  border-bottom: 2px solid red;
}
