/* css reset */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* general */
i {
  color: white;
  font-size: 1.1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* sitewide */
main {
  max-width: 800px;
  margin: 0 auto;
}

/* btn */
.button-container {
  text-align: center;
  margin: 2rem;
}

.btn {
  background-color: #6e14ef;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}

/* snackbar */
.snackbar-container {
  position: fixed;
  bottom: 10%;
  left: 10px;
  width: 100%;
}

.snackbar {
  animation: show 0.3s linear;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 3px 3px 5px gray;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding: 0.8rem;
}

.snackbar.centered {
  left: 0;
  right: 0;
  margin: 10px auto;
}

.snackbar.stacked .snackbar-message {
  flex-basis: 100%;
}

.snackbar.stacked .snackbar-actions {
  margin-left: auto;
  padding-top: 1rem;
}

.snackbar-actions {
  display: flex;
  justify-content: space-between;
  flex-basis: 25%;
  margin-right: 10px;
}

.snackbar-actions a {
  color: #af7af5;
  text-transform: uppercase;
}

/* keyframes */

@keyframes show {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
